* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #484848;
  line-height: 1.43;
      -webkit-font-smoothing: antialiased;
}

.modal-background {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child  {
  border-radius: 4px;
  background: white;
  box-sizing: border-box;
  padding: 32px;
  position: absolute;
  width: 560px;
  /* height: 300px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-form {
  height: 100%;
}

.modal-form > * {
  height: 100%;
}

.session-input-container, .session-form {
  height: 100%;
}

.session-form {
  padding: 10px;
  overflow: hidden;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 16px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  border: rgb(207, 210, 212) solid 1px;
  background: white;
}

.bday-head {
  line-height: 1.37em;
  font-weight: bolder;
}

.bday-legal {
  margin: 8px 0 16px 0;
}

.bday-inputs-container {
  width: 100%;
  margin-bottom: 16px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  background: white;
  height: 46px;
}

.bday-input {
  height: 100%;
}

select {
  height: 100%;
}
/* .birth-header {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #484848;
} */